@charset "utf-8";

body {
  padding: 0;
  margin: 0;
}

.top {
  margin: 0;
  background: black;
  color: white;
  font-size: 18px;
  font-family: "Yu Gothic";
  white-space: nowrap;
}

.all {
  max-width: 958px;
  min-width: 958px;
  margin: 0 auto;
}

.container {
  margin-top: 10px;
}

.leftlogo img {
  cursor: pointer;
  margin: auto;
}

.rightlogo img {
  margin-left: 40%;
  border-radius: 25%;
}

.name hr {
  margin: 10px 9px 0 9px;
}

.name h1 {
  width: 500px;
  margin: 20px auto;
  text-align: center;
  font-size: 30px;
  background-color: rgb(212, 212, 212);
}

.haiki {
  vertical-align: top;
  font-size: 22px;
  margin: 5px 10px;
}

.selection p {
  display: inline-block;
}

.selection img {
  border: 2px solid black;
  border-radius: 10%;
  display: inline-block;
  cursor: pointer;
}

#searchForm {
  display: flex;
  align-items: center;
}

#searchForm p {
  margin: 5px 10px;
  font-size: 20px;
}

#searchQuery {
  padding: 5px;
  font-size: 16px;
}

.check button {
  background-color: #ffa500;
  color: white;
  font-size: 20px;
  margin: 5px 10px;
  cursor: pointer;
}

.check:hover {
  opacity: 0.7;
  color: white;
}

.cc div {
  width: 918px;
  font-size: 22px;
  margin: 15px 10px;
  background-color: #d9d9d9;
}

.inquiry p {
  width: 918px;
  font-size: 19px;
  text-align: right;
  color: black;
  margin: 10px;
  cursor: pointer;
}

.bottom {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  white-space: nowrap;
}

.bottom p {
  font-family: "Yu Gothic";
  white-space: nowrap;
}
